*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.flex{
    display: flex;
}
.relative{
    position: relative;
}
.main-container{
    width: 90vw;
    // background-color:darkgoldenrod;
}
.test-var1{
    background-color: brown;
}
.test-var2{
    background-color: purple;
}
.test-va3{
    background-color: green;
}
.orange-underline{
    width: 80px;
    border-radius: 70px;
    border: solid orangered;
    border-width: 1px;  
    background-color: orangered;
}