*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.flex{
    display: flex;
}
.relative{
    position: relative;
}
.main-container{
    width: 90vw;
    // background-color: aqua;
}